.u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-group-1 {
  min-height: 160px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  text-transform: uppercase;
  background-image: none;
  margin: 47px 32px 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 47px auto 23px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 16px 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/ski.jpg");
  background-position: 50% 50%;
  width: 123px;
  height: 123px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 36px 6px 0;
}

.u-section-1 .u-text-3 {
  margin: 36px 14px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 16px 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/kms.png");
  background-position: 50% 50%;
  width: 123px;
  height: 123px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 36px 6px 0;
}

.u-section-1 .u-text-5 {
  margin: 36px 14px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 14px 16px 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/UKM.png");
  background-position: 50% 50%;
  width: 123px;
  height: 123px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 36px 6px 0;
}

.u-section-1 .u-text-7 {
  margin: 36px 14px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 630px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 23px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 668px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 7px;
    margin-right: calc(((100% - 720px) / 2) + -11px);
    margin-bottom: 37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 670px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 21px;
    margin-right: auto;
    margin-bottom: 1px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 488px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 782px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: 47px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 553px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 47px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 47px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 25px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 47px;
    margin-left: 10px;
    margin-right: 10px;
  }
}